@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain" ItemSizeMode="SizeMode.Medium">
            <Items>
                <DxToolbarItem Text="Info" RenderStyle="ButtonRenderStyle.Info" />
                <DxToolbarItem Text="Success" RenderStyle="ButtonRenderStyle.Success" />
                <DxToolbarItem IconCssClass="tb-icon tb-icon-alert" BeginGroup="true" RenderStyle="ButtonRenderStyle.Danger" Text="Danger" />
                <DxToolbarItem IconCssClass="tb-icon tb-icon-alert" Text="Auto" />
                <DxToolbarItem IconCssClass="tb-icon tb-icon-alert" RenderStyle="ButtonRenderStyle.Warning" Text="Warning" />
            </Items>
        </DxToolbar>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
}