<!DOCTYPE html>

<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">

    <title>ANSOFTTECH</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

    <link href="~/CommingSoon/common-css/ionicons.css" rel="stylesheet">


    <link rel="stylesheet" href="~/CommingSoon/common-css/jquery.classycountdown.css" />

    <link href="~/CommingSoon/03-comming-soon/css/styles.css" rel="stylesheet">

    <link href="~/CommingSoon/03-comming-soon/css/responsive.css" rel="stylesheet">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
